.top-banner,
.auth-container,
a[rel*="sponsored"],
section:has(a[rel*="sponsored"]),
a[href*="advertising"],
h1:has(a[href="https://patrick-ring-motive.github.io/mdn/"]),
a[href="https://patrick-ring-motive.github.io/mdn/"],
aside,
.contributor-graphic,
ul.social-icons,
.page-footer-moz,
.page-footer-legal-text::first-line
{
  display:none !important;
  visibility:hidden !important;
}

.mdn-footer-logo,
svg[id="mdn-docs-logo"]
{
  visibility:hidden !important;
}

a[aria-label="MDN homepage"]::before{
  content:"TDN";
  font-family: serif;
  font-weight: bold;
  font-size: xx-large;
  color: cadetblue;
}

:root{
    --text-link: cadetblue !important;
}
