.top-banner,
.auth-container,
a[rel*="sponsored"],
section:has(a[rel*="sponsored"]),
a[href*="advertising"],
h1:has(a[href="https://patrick-ring-motive.github.io/mdn/"]),
a[href="https://patrick-ring-motive.github.io/mdn/"],
aside.article-footer,
.contributor-graphic,
ul.social-icons,
.page-footer-moz,
a[href="https://www.mozilla.org"],
a[href="https://foundation.mozilla.org/"],
.page-footer-legal-text::first-line,
li.top-level-entry:has(a[href="/en-US/plus"]),
a[href="/en-US/plus"],
[id="mdn-plus-button"]
{
  display:none !important;
  visibility:hidden !important;
}

.mdn-footer-logo,
svg[id="mdn-docs-logo"]
{
  visibility:hidden !important;
}

a[aria-label="MDN homepage"]::before{
  content:"tdn";
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", "Comic Sans", cursive, "Exo 2", monospace !important;
  font-weight: bold;
  font-size: xx-large;
  color: cadetblue;
}
.dark a[aria-label="MDN homepage"]::before,
[darkish="true"] a[aria-label="MDN homepage"]::before
{
  color: #24d6bc;
}

:root:not(.dark){
    --text-link: cadetblue !important;
}

:root.dark,
:root.dark-mode,
{
  --text-link: #24d6bc !important;
  --color-links: #24d6bc !important;
  --green1: #24d6bc !important;
  --green2: #24d6bc !important;
  --green3: #24d6bc !important;
  --green4: #24d6bc !important;
  --green5: #24d6bc !important;
}

:root.dark-mode .hljs-comment,
:root.dark-mode .hljs-quote,
:root.dark-mode[window-location*="nodejs.org"i] a:link
{
  color: #24d6bc !important;
}


:root[darkish="true"]{
  --text-link: #24d6bc !important;
}

:root [darkish="true"]{
  --text-link: #24d6bc !important;
}
