.icon-experimental{
  display:none !important;
  visibility:hidden !important;
}
section[aria-labelledby="description"],
    section[aria-labelledby="iterator_helpers"],
    section[aria-labelledby="proper_iterators"],
    section[aria-labelledby="constructor"],
    section[aria-labelledby="static_methods"],
    li.document-toc-item:has(a[href="#constructor"]),
    a[href="#constructor"],
    li.document-toc-item:has(a[href="#static_methods"]),
    a[href="#static_methods"],
    li:has(a[href="/en-US/docs/Web/JavaScript/Reference/Global_Objects/Iterator/from"]),
    a[href="/en-US/docs/Web/JavaScript/Reference/Global_Objects/Iterator/from"],
    li:has(a[href="/en-US/docs/Web/JavaScript/Reference/Global_Objects/Iterator/Iterator"]),
    a[href="/en-US/docs/Web/JavaScript/Reference/Global_Objects/Iterator/Iterator"]
    {
        display:none !important;
        visibility:hidden !important;
    }
    .dark .highlighter-rouge{
      filter: invert(1) hue-rotate(180deg);
      background-color:rgb(200,200,225) !important;
    }
    .dark .language-js{
      background-color:rgb(200,200,225) !important;
    }
    [darkish="true"] .language-js{
      background-color:rgb(200,200,225) !important;
    }
    .dark .language-js *{
      text-shadow:
        1px 1px 0 rgb(220,220,250),
        -1px 1px 0 rgb(220,220,250),
        -1px -1px 0 rgb(220,220,250),
        1px -1px 0 rgb(220,220,250) !important;
    }
    .highlighter-rouge{
      border-radius:1vmax;
    }
    span.token.operator{
      background-color:rgba(0,0,0,0) !important;
    }